<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ page.title }} - edymtt</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
   <script src="//use.edgefonts.net/asap.js"></script>
        <link rel="stylesheet" href="/css/edymtt.css">
    <link rel="stylesheet" href="/css/pinboard.css">
  </head>

  <body>
    {% include menu.html %}
  <div class="container-narrow">
    <h2>{{ page.title }}</h2>
    {{ content }}
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
  </body>
</html>
